@font-face
	font-family 'thequietscreamRegular'
	src url('../font/quietscream/the_quiet_scream-webfont.eot')
	src url('../font/quietscream/the_quiet_scream-webfont.eot?#iefix') format('embedded-opentype'), url('../font/quietscream/the_quiet_scream-webfont.woff') format('woff'), url('../font/quietscream/the_quiet_scream-webfont.ttf') format('truetype'), url('../font/quietscream/the_quiet_scream-webfont.svg#thequietscreamRegular') format('svg')
	font-weight normal
	font-style normal