<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
       xmlns:rim="http://www.blackberry.com/ns/widgets" version="1.0.0">
 
       <name>le app</name>
       <author>Caju</author>
       <description>Play with your friends</description>
       <icon src="img/icon.png" />
       <content src="index.html" />
       <feature id="blackberry.app" />
</widget>