.choose
	background-color color-highlight2-3
	section
		padding 30px
		text-align center
	img
		display inline-block
		margin 18px
		background-color white
		border-radius 4px
		width 200px
		height 180px

		&.active
			box-shadow 0 0 6px 1px color-base-1

	.ball
		background-color white
		box-shadow 0 0 0 4px color-highlight2-3	, 0 0 0 8px white		