.game

	.no-active 
		canvas
			opacity .5

		section div
			animation error 160ms linear 100ms 8 alternate
			display block

	section div
		background-color color-base-1
		border-radius 4px
		color white
		display none
		text-align center
		z-index 9999

	canvas
		left 0
		position absolute
		top 0