.game

	section
		//border 1px solid gray
		/*height 600px
		position relative
		overflow hidden
		width 1024px*/

		.player_bear
		.player_bunny
			position absolute
			left 50%

		.player_bear
			transform rotate(180deg)
			bottom 0
			margin-bottom -250px
			margin-left -100px

		.player_bunny
			margin-left -64px
			margin-top -250px

	.permanent
		display none

	.user-stats
		box-sizing border-box
		color color-base-1
		margin 0
		padding 0 15px
		position absolute
		user-select none
		width 100%

		&.player
			bottom 0

		&.enemy
			transform rotate(180deg)
			top 0

		span:nth-child(1)
			font-size 5em
			font-weight bold

		/*span:nth-child(2)
			float right*/

	.no-active 
		canvas
			opacity .5
			pointer-events none

		.alert
			animation error 160ms linear 100ms 8 alternate
			display block

	.alert
		background-color color-base-1
		border-radius 4px
		color white
		display none
		text-align center
		z-index 9999

	/*#canvas
		left 0
		position absolute
		top 0*/