.join
	background-color color-base-6
	
	.popup
		margin-top -20px

		a
		a:visited
			color white

	input
		background-color white
		border 1px solid transparent
		//border-radius 4px
		padding 10px 15px
		transition box-shadow 300ms linear

	.ball
		box-shadow 0 0 0 4px color-base-6, 0 0 0 8px color-highlight2-3		