.waiting
	background-color color-base-2

	section div
		text-align center
		margin-top -120px
	h2
		color white
		font-size 8em
		margin 0.1em
		-webkit-text-stroke 1px color-base-1

	.ball
		box-shadow 0 0 0 4px color-base-2, 0 0 0 8px color-highlight2-3