#sec-home

	[class^="button-"]
	[class*=" button-"]
		color black
		display inline-block
		font-family font-1
		font-size 3em
		margin 0 .4em
		text-decoration none
		transition all 200ms linear

		&:hover
			color white
			text-shadow -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black