@import "nib"

@import "util/variable"
@import "util/general"

@import "util/animation"

@import "pag/caju"
@import "pag/intro"
@import "pag/welcome"
@import "pag/join"
@import "pag/new"
@import "pag/waiting"
//@import "pag/choose"
@import "pag/game"