body
	margin 0
	font-family font-1
	transition background-color 800ms linear

	&.no-select
		user-select none

section
	.popup
		left 50%
		position absolute
		top 50%
		margin-left -105px
		width 210px

		&.error
			animation error 160ms linear 100ms 4 alternate

			input
				border 1px solid red
				box-shadow 0px 0px 5px red

		.button
			display block
			float right

	& > span
		color white
		top 10px
		position absolute
		right 10px

		img
			vertical-align middle
			margin-right 8px

.main
	transition opacity 800ms linear

.hide
	opacity 0

.ball
	background-color color-highlight2-3
	box-shadow 0 0 0 4px white, 0 0 0 8px color-highlight2-3
	border-radius 40px
	height @border-radius
	position absolute
	transition box-shadow 800ms linear
	width @height
	z-index 9999